<div >
	<div class="navbar navbar-default navbar-fixed-top border-none box-shadow-bottom-3px background-color-ffffff" role="navigation">
        <div class="">
            <div class="pull-left">
                <img src="images/jiva_logo.png" alt="Jiva" class="ZeOmega-logo pull-left" />
                <div class="pull-left padding-top-20px bold-text font-size-16px">ADAPTER FRAMEWORK ADMIN CONSOLE</div>
            </div>
            <div class="pull-right padding-right-15px" ng-if = "loginVM.hideLogoutButton">
            </div>
            <div class="pull-right padding-right-15px">
                <img src="images/zeomega.png" alt="ZeOmega" class="ZeOmega-logo" />
            </div>
        </div>
    </div>

	<div id="content-main">
		<div class="container">
			<div class="login-form-container">
				<div class="clearfix">
					<img src="images/logo_login.png" alt="Jiva" class="login-jiva-logo" />
				</div>
				<div class="clearfix">
					<img src="images/login.jpg" alt="Jiva" class="login-medical-staff"  />
				</div>
				<div class="clearfix">
					<div class="form-inline has-loggedout">
						Thank you. 
						You have been logged out
						<a href="javaScript:void(0)" class="bold-text" ng-click = "logoutVM.backToLogin()">Back to login</a>
					</div>
				</div>
				<div class="clearfix margin-top-15px font-color-777777">
					&copy; 2014 ZeOmega. Inc - All Rights Reserved. 
				</div>
			</div>
		</div>
	</div>
</div>
	

	